div.topnav p {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
}
div.bottomnav p {
    margin-right: 40px;
    margin-left: 40px;
    text-align: left;
    font-size: 0.8em;
}
