div.topnav p {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
}
div.bottomnav p {
    margin-right: 40px;
    margin-left: 40px;
    text-align: left;
    font-size: 0.8em;
}

table.image-grid,
table.image-grid tr,
table.image-grid col {
    border: hidden;
}

table.caption,
table.caption tr,
table.caption col {
    border: hidden;
}

table.caption {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

table.caption td {
    text-align: center;
    font-size: smaller;
    font-style: italic;
}

.kbd.docutils.literal {
    border: solid #CCCCCC 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
	  font-weight: normal;
    padding: 1px 5px 3px;
    white-space: nowrap;
}